@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #d3d3d3;
    --bg-color1: #c7c7c7;
    --bg-color2: #d3d3d3;
    --bg-color3: #f1f1f1;
    --bg-color4: #ffffff;
    --text-color: #000000;
  }
  
  #dark {
    --bg-color: #1C1C1C;
    --bg-color1: #262626;
    --bg-color2: #1C1C1C;
    --bg-color3: #0f0f0f;
    --bg-color4: #000000;
    --text-color: #ffffff;
  }